<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content-width="device-width" , initial-scale="1.0">
<title>Search Engine</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="/explorer/css/styles-merged.css">
    <link rel="stylesheet" href="/explorer/css/style.min.css">
    <link rel="stylesheet" href="/explorer/css/custom.css">

<style>
.max-td {
  max-width:600px; /* Customise it accordingly */
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
</head>
  <body>

  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="/" class="probootstrap-logo">mlb.com Homework<span>.</span></a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
          	<li class="active"><a href="/">Home</a></li>
          </ul>
          
        </nav>
    </div>
  </header>
  <!-- END: header -->


    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2>Developer</h2>

         <p> Marlon Bravo

           </div>
      </div>
    </div>

  <!-- END section -->

  <footer class="probootstrap-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="probootstrap-copyright">&copy; 2017 <a href="https://uicookies.com/">uiCookies:Explorer</a> All Rights Reserved.</p>
          <ul class="probootstrap-social">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook2"></i></a></li>
            <li><a href="#"><i class="icon-instagram2"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>
  </body>
</html>